<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Hospital_IESS_Los_Ceibos.jpg" />
    <ion-card-header>
      <ion-card-title>IESS - 2023</ion-card-title>
      <ion-card-subtitle>El IESS presenta su nueva arquitectura de soluciones informáticas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      DevOps es una metodología de desarrollo de software que se enfoca en la colaboración y la integración continua entre los equipos de desarrollo y operaciones de una organización.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Hospital_IESS_Los_Ceibos.jpg" />
    <ion-card-header>
      <ion-card-title>Hospitales IESS</ion-card-title>
      <ion-card-subtitle>Atención Oportuna</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>
